<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Delius&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/Atividade11/css/style.css">
</head>
<body>

<nav class="navbar" id="navbar">
    <div class="nav-container">
        <div class="logo">
            <span>✨ JVN ✨</span>
        </div>
        <div class="links-container">
            <a href="/lab11">Início</a>
            <a href="/lab11/usuarios">Listar Usuários</a>
            <a href="/lab11/usuarios/cadastrar">Cadastrar Usuário</a>
            <a href="/lab11/produtos">Listar Produtos</a>
            <a href="/lab11/produtos/cadastrar">Cadastrar Produto</a>
        </div>
    </div>
</nav>

<main>